<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light">Books app</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" [routerLink]="['/']">
                    <img src="../assets/images/book.png" alt="" width="30" height="30">
                </a>

            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>