<div class="container">
    <label for=""> <b class="p-4">Filter by country:</b> </label>
    <select class="form-select" style="height: 50px; margin: 1em" (change)="filterByCountry($event)">
        <option value="all">Get all</option>
        <option value="{{c}}" *ngFor="let c of countries"> {{c}} </option>
    </select>

    <div class="d-flex flex-wrap align-items-center justify-content-center">
    
        <div class="card" *ngFor="let item of writers">
            <img src="{{item.image}} " class="card-img-top" style="width:250px !important; height:250px">
            <div class="card-body">
                <h5 class="card-title"> {{item.name}} {{item.lastName}}</h5>
                <p class="card-text"> {{item.country}} </p>
                <a class="btn btn-light" [routerLink]="['/writers', item.id]"><i class="far fa-eye"></i> View books writer</a>
            </div>
        </div>
    
    </div>
</div>