<div class="container">
    <a [routerLink]="['/']" class="nav-link active" type="button" >
        <img src="../../../assets/images/back.png" height="40" width="40">
    </a>
    <div class="row myCard m-0 p-0" style="margin: 0 !important">
        <div class="col-sm-12 col-md-12 col-lg-4" *ngIf="detailWriter">
            <img src="{{detailWriter?.image}}"  class="w-100 mx-auto" style="height:440px" >
            <div class="card-body">
                <h5 class="card-title"> {{detailWriter?.name}} {{detailWriter?.lastName}}</h5>
                <p class="card-text"> {{detailWriter?.country}} </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
            <h4 class="text-center">Books</h4>
            <div class="d-flex flex-wrap justify-content-center">
               
                <div class="m-2 text-center" *ngFor="let book of booksWriter">
                    <img src={{book.image}} height="300" style="margin: auto !important; ">
                    <div class="card-body">
                        <h5 class="card-title"> {{book.title}}</h5>
                        <p class="card-text textt-muted"> {{book.datePublished}} </p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

